/*  --- les fellows --- */

.fellow {
	width: calc(8.33vw * 4);
	height: auto;
}

.fellow img {
	width: 100%;
	opacity: 0.8;
	transition: .3s ease-in-out;
}

.fellow:hover img {
	opacity: 1;
	transition: .3s ease-in-out;
}

.fellow figcaption {
	height: calc(8.33333vw * 4 * 1.144);
}

.reward {
	height: calc(8.33333vw * 4 * 1.144);
	position: relative;
	top: calc(8.33333vw * 4 * 1.144 * -1 - 4px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.reward p {
	padding: 5%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.reward p span {
	color: #ff5f01;
}

.reward h3 {
	font-size: 1.6em;
	color: white;
}

.fellow:hover .reward > p {
	display: none;
	transition: .3s ease-in-out;
}

.fellow:hover .reward > h3 {
	position: relative;
	top: 40%;
	font-size: 1em;
	transition: .3s ease-in-out;
}

.description {
	position: relative;
	top: calc(8.33vw * 4 * 1.144 * -1 - 4px);
	background-color: black;
	color: white;
	margin: 0;
	padding: 5%;
}
/*  --- les fellows fin --- */
